@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-image: url('../src/assets/gradientblue.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

h3 {
  color:#c5aeff
}

.TodoWrapper {
  background: #090962;
  padding: 2rem;
  border-radius: 5px;
  border-color: #2467ca;
  box-shadow: 0 0 10px rgb(5, 5, 5);
}

.TodoForm {
  width: 100%;
  
}

.todo-input {
  outline: none;
  background: #150f79;
  border: 1px solid #5866ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
  box-shadow: 0 0 5px rgb(5, 5, 5);
}

.todo-input::placeholder {
  color: #fafafa98;
}

.todo-btn {
  background: #5863ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(5, 5, 5);
}
.todo-btn:hover {
  background: #283cd2;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  transition: background-color .3s ease;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2467ca;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
  padding: 2px;
}

.fa-trash:hover {
  opacity: .7;
  transform: scale(1.1);
  transition: transform .3s ease;
  transition: opacity .3s ease;
}

.fa-pen-to-square {
  margin-left: 0.75rem;
  padding: 2px;
}
.fa-pen-to-square:hover {
  opacity: .7;
  transform: scale(1.1);
  transition: transform .3s ease;
  transition: opacity .3s ease;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}
 